# dependencies
node_modules/

# production build
build/
dist/

# misc
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# caches
.eslintcache
.parcel-cache/
.next/
.turbo/
.vite/

# typescript
*.tsbuildinfo

# coverage reports
coverage/

# storybook
storybook-static/
